{% extends "base.html" %}
{% csrf_token %}
{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Base
        </p>
        <p class="subtitle">
            Surveys for medics
        </p>
    </div>
</section>
<div class="card">
    <div class="card-content">
        <div class="icon-text has-text-link">
            <span class="icon">
                <i class="fas fa-bolt"></i>
            </span>
            <code>Design your own questions</code>
        </div>
        <div class="icon-text has-text-info">
            <span class="icon">
                <i class="fas fa-bolt"></i>
            </span>
            <code>Collect all the answers</code>
        </div>
        <div class="icon-text has-text-danger">
            <span class="icon">
                <i class="fas fa-bolt"></i>
            </span>
            <code>See the results</code>
        </div>
    </div>
    <div class="box">
        <div class="form">

            <div class="field is-horizontal is-grouped">
                <div class="field-label is-normal">
                  <label class="label">Try it out:</label>
                </div>
                <div class="field-body">

                    <div class="field">
                        <p class="control is-expanded">
                            <input
                                id="survey-title-input"
                                name = "survey-title"
                                class="input is-primary" 
                                type="text" 
                                placeholder="enter the name of the survey you want to create... (you can change this later if you need)"
                                _="on keyup if my.value is not empty remove @disabled from #create-survey-button else add @disabled to #create-survey-button end"
                            />
                        </p>
                    </div>
                    <p class="control">
                        {% url 'create_base_survey' as hx_post %}
                        <button 
                            id='create-survey-button'
                            class='button is-primary'
                            disabled
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-post="{{hx_post}}"
                            hx-trigger='click'
                            hx-include="[name='survey-title']"
                            hx-target='#surveylist'
                            hx-swap='innerHTML'
                            _="on htmx:afterRequest set {innerText:''} on #survey-title-input"
                        >Create!</button>
                    </p>

                </div>
            </div>


        </div>

    </div>
</div>
<div class="container" id="surveylist">
    {% include 'survey-table.html' with surveys=surveys %}
</div>
{% endblock %}