<div class="container">
    <div class="notification is-primary">
        <h5 class="subtitle">My Surveys</h5>
        {% if surveys %}
            <table class="table is-fullwidth">
                <thead>
                    <th>Title</th>
                    <th class="has-text-right">Action</th>
                </thead>
                <tbody>
                    {% for survey in surveys %}
                    <tr>
                        <td>
                            {{survey.title}}
                        </td>
                        <td style="float: right;">
                            <div class="buttons are-small">
                                <a class="button is-info" href="{% url 'edit_base_survey' survey_id=survey.pk %}">
                                    <span class="icon is-small">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </a>
                                {% url 'delete_base_survey' survey_id=survey.pk as hx_post %}
                                <button 
                                    class="button is-danger"
                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                    hx-post="{{hx_post}}"
                                    hx-trigger='click'
                                    hx-target='#surveylist'
                                    hx-swap='innerHTML'
                                >
                                    <span class="icon is-small">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            There are no surveys currently...
        {% endif %}
    </div>
</div>